.box3d {
    position: relative;
    display: inline-block;
    width:200px;
    height:233px;
}

.box3d-side{
    left:300px;
    top:0;
    position: absolute;
    display:inline-block;
    vertical-align:top;
}

.box3d-side:before {
    display:inline-block;
    width:100px;
    height:120px;
    content:' ';
    background:#333;
}



.box3d-left {
    left:0;
    top:99px;
    transform: skewY(15deg);
}



.box3d-right {
    left:100px;
    top:99px;
    transform: skewY(-15deg);
}




.box3d-cap {
    top:-22px;
    left:39px;
    transform: rotate3d(3.5,1,1,45deg) skewX(-25deg);
    transition: all 0.2s;
    transition-timing-function: ease-out;
}


.box3d-cap:before {
    height: 150px;
    width:105px;
    transition: all 0.2s;
    transition-timing-function: ease-out;
}


.box3d-top,
.active .box3d-cap {
    top:50px;
    left:45px;
    transform: rotate3d(3.45,1.05,1,44deg) skewX(-54deg);
    transition-timing-function: ease-in;
}


.box3d .box3d-top {
    top:49px;
}



.box3d-top:before,
.active .box3d-cap:before {
    height: 70px;
    width:105px;
    transition-timing-function: ease-in;
}

.box3d .side-img {
    position: absolute;
    top:30px;
}

.box3d-cap .side-img {
    transition: all 0.2s;
    transition-timing-function: ease-out;
    transform: scale(-1, -1);
}

.active .box3d-cap .side-img,
.box3d-top .side-img  {
    transition: all 0.2s;
    transition-timing-function: ease-in;
    top: 0;
    transform: scale(-0.9, -0.5);
}