.tariff-block {
padding:4rem 5rem;
background: url("../img/landing-block-4-bg.jpg");
background-size: cover;

}


.tariff-block h3 {
margin:0;
font-size:2.4rem;
}


@media(max-width:1239px) {
.tariff-block .square-cnt {
margin:0;
}
}

.tariff-block .square {
display: inline-block;
width:100%;
padding:0;
}


.tariff-block .btn, .tariff-block .square-content {
font-size:18px;
padding:1.2rem 1.4rem
}




.plan-cnt {
    padding:0 30px;
}

