.info-block-landing-1 {
    padding:80px 0;
}

.info-block-landing-1 .parallelepiped {
    margin:1rem;
    padding:2rem;
    min-width:200px;
}

.info-block-landing-1 .parallelepiped h1 {
    color:#201c3a;
    margin:0;
    font-size:4rem;
}


.info-block-landing-2 {
    padding:4rem 2rem;
    background: url("../img/landing-block-2-bg.jpg");
    background-size: 70%;
    /*background-position: center;*/
    background-repeat: repeat;
}


.info-block-landing-2 .about-cnt {
    margin-left:100px;
    width:90%;
    padding:3rem;
}

.info-block-landing-2 .about-text {
    padding:0 2rem;
    margin-bottom: 4rem;
}

.info-block-landing-3 {
    padding:80px 0;
}

.info-block-landing-3 .parallelepiped {
    margin:1rem;
    margin-top:2rem;
    padding:3rem 2.5rem;
    width:300px;
    height:285px;

}

.info-block-landing-3 .question {
    display: block;
    height:70px;
}

.info-block-landing-3 .parallelepiped h1 {
    margin:0;
    font-size:4rem;
}

/*.info-block-landing-4 {*/
    /*padding:4rem 5rem;*/
    /*background: url("../img/landing-block-4-bg.jpg");*/
    /*background-size: cover;*/
/*}*/


/*.info-block-landing-4 h1 {*/
    /*margin:0;*/
    /*margin-bottom: 2rem;*/
    /*font-size:4rem;*/
/*}*/

/*.info-block-landing-4 .square-cnt {*/
    /*margin:0 5%;*/
    /*display: inline-block;*/
    /*width:95%;*/
    /*padding:0;*/
/*}*/

/*@media(max-width:1239px) {*/
    /*.info-block-landing-4 .square-cnt {*/
        /*margin:0;*/
    /*}*/
/*}*/

/*.info-block-landing-4 .square {*/
    /*display: inline-block;*/
    /*width:100%;*/
    /*padding:0;*/
/*}*/


/*.info-block-landing-4 .btn, .info-block-landing-4 .square-content {*/
    /*font-size:12px;*/
    /*padding:1.2rem 1.4rem*/
/*}*/




/*.info-block-landing-4 .line {*/
    /*width:80%;*/
    /*margin:0 10%;*/
    /*height:1px;*/
    /*opacity: 0.1;*/
/*}*/

.info-block-landing-4 {
    padding:4rem 2rem;
    background: url("../img/landing-block-4-bg.jpg");
    background-size: 70%;
    /*background-position: center;*/
    background-repeat: repeat;
}


.info-block-landing-4 .about-cnt {
    margin-left:100px;
    width:90%;
    padding:3rem;
}

@media (max-width: 1239px) {

    .info-block-landing-4 .about-cnt, .info-block-landing-2 .about-cnt {
        margin-left: 0;
    }

    .info-block-landing-4 h1, .info-block-landing-2 h1 {
        display: block;
        text-align: center;
    }

}

.info-block-landing-4 .about-text {
    padding:0 2rem;
    margin-bottom: 4rem;
}

.info-block-landing-5 {
    /*background: url("../img/landing-block-5-bg.jpg");*/
    background-size: cover;
    padding:6rem;
}

.info-block-landing-5 .parallelepiped {
    background-size: cover;
    background-position: center;
    padding:50px 30px;
    width:174px;
    margin:1rem 2rem;
}

.footer-social {
    padding:2rem;
}

.footer-menu {
    padding:15px;
}

.footer-link {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color:white;
    text-decoration: none;
    margin:0 5px;
}

.footer-link:hover,
.footer-link:focus {
    margin-top:2px;
    text-decoration: none;
}
