.relative {
    position:relative;
}

.square, .parallelepiped, .circle {
    background:none;
    border:none;
    outline:none;
    display:inline-block;
    position:relative;
    color:white;
    padding:1rem;
    z-index:1;
}


.no-hover, .no-hover:hover, .no-hover:active {
    text-decoration: none;
    color:inherit;
}



.square:before,
.circle:before,
.parallelepiped:before {
    content:' ';
    display:inline-block;
    top:0;
    left:0;
    width:100%;
    height:100%;
    position:absolute;
    z-index: -1;
}

.parallelepiped:before {
    -webkit-transform: skew(-7deg);
    -ms-transform: skew(-7deg);
    -o-transform: skew(-7deg);
    transform: skew(-7deg);
}

.circle:before {
    border-radius: 50%;
}

.closed:before {
    z-index:5;
}

.dark-purpure:before {
    background:#19162d !important;
}
.purpure:before {
    background:#201c3a !important;
}
.light-purpure:before {
    background:#36304b !important;
}
.light-blue:before {
    background:#1d84ed !important;
}
.green:before {
    background:#03c36f !important;
}
.ping:before {
    background:#8d244e !important;
}
.light-white-purpure:before {
    background:#acaee3 !important;
}
.light-grey:before {
    background:#999 !important;
}
.grey:before {
    background:#dfdee3 !important;
}
.grey-2:before {
    background:#aaa !important;
}
.red:before {
    background:red !important;
}
.blue:before {
    background:blue !important;
}
.orange:before {
    background:orange !important;
}
.dark-grey:before {
    background:#333 !important;
}
.yellow:before {
    background:#ffff00 !important;
}

.text-yellow {
    color:#ffff00;
}

.text-red {
    color:red;
}

.text-green {
    color:#2c5;
}

.transparent:before {
    opacity:0.3;
}
.transparent-2:before {
    opacity:0.5;
}
.transparent-strong:before {
    opacity:0.7;
}

.dark-shadow:before {
    box-shadow:2px 2px 2px 3px rgba(13,13,13,0.5);
}

.text-purpure {
    color:#201c3a;
}

.text-white {
    color:white !important;
}

.text-dark {
    color:#333;
}

.block {
    padding:1rem 0;
    text-align: center;
}

.line {
    line-height: 0;
}

.line:before {
    background:red;
    content: ' ';
    border-radius:2px;
    display: inline-block;
    height:2px;
    width:100%;
    border:1px;
}

.circle-top.circle {
    position: absolute;
    left:45%;
    left:calc(50% - 15px);
    top:-20px;
    height:40px;
    width:40px;
}


*.hover:before,
*.hover:after {

    /*Transition*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;

    /*Reflection*/
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));

}

*.hover:hover:before, *.hover:focus:before,
*.hover:hover:after, *.hover:focus:after {

    /*Reflection*/
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));

    /*Glow*/
    -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    box-shadow: 0px 0px 20px rgba(255,255,255,0.8);

}

/**
Elements
**/

.grey-block {
}

.grey-block .parallelepiped {

    margin:2rem;
    padding:2rem;
    min-width:200px;
}

.little-grey-block.grey-block .parallelepiped {
    min-width: 100px;
    margin:1rem;
}

.grey-block .parallelepiped h1 {
    color:#201c3a;
    margin:0;
    font-size:4rem;
}

.table-without-head-border.table-bordered, .table-without-head-border.table-bordered>thead>tr>th {
    border:none;
}


.plan-img {
    position: relative;
    background-size: cover;
    height:150px;
    width:100%;

    z-index:2;
}


.plan-cnt {
    padding:0 30px;
}

.plan-limit-text {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size:18px;
    padding:5px;
}

.line-right {
    opacity: 1 !important;
    margin: -1px 0 !important;
    width:80%;
}

.shadow-line {
    width:80%;
    margin:0 10%;
    height:1px;
    opacity: 0.1;
}

.line-right:before {
    height: 5px !important;
}

.tip-block {
    font-size: 12px;
    margin-top:-6px;
    margin-bottom:16px;
    opacity: 0.8;
}

.about {
    position: relative;
}

.about:before, .about:after {
    content: "";
    width:40px;
    height:40px;
    position: absolute;
    border:4px solid white;
}

.about:before {
    left:-2px;
    top:-2px;
    border-right-color:transparent;
    border-bottom-color:transparent;
}

.about:after {
    right:-2px;
    bottom:-2px;
    border-left-color:transparent;
    border-top-color:transparent;
}


.square-content {
    display: inline-block;
    width:95%;
    font-size: 16px;
    padding: 0 0.7rem;
}

@media (min-width: 992px) {
    .text-right-md {
        text-align: right;
    }
}

@media (max-width: 991px) {
    .text-center-mob {
        text-align: center !important;
    }

    .p-10-mob {
        padding-top:10px !important;
    }
}

.readable-text {
    text-align: justify;
    margin:15px;
}

.readable-text:before {
    content: ' ';
    width:40px;
    height:5px;
    display: inline-block;
}

.left-fixed {
    position: fixed;
    top:140px;
    right:0;
}

.left-fixed:nth-child(2) {
    top:220px;
}

.hand, .hand * {
    cursor:pointer;
    user-select: none;
}

.admin-column {
    padding:20px 10px;
    vertical-align: top;
    margin-right:40px;
    margin-top:10px;
    margin-bottom: 10px;
    position: relative;
    width:200px;
    text-align: center;
}


.admin-column.two-columns {
    width:400px;
}

.admin-column .inline-block {
    float:left;
    width:180px;
    margin:5px 0;
}


.btn-imageDelete {
    left: 55px;
    z-index: 1025;
    margin-left: 0;
    bottom: auto !important;
}

.btn-imageDelete:before {
    background:rgba(217, 43, 76, 0.5);
}


/**
Reset
**/

.no-style, .no-style:hover, .no-style:active, .no-style:link {
    border:0;
    background: transparent;
    outline: 0;
    text-decoration: none;
    color:inherit;
}


.no-decoration, .no-decoration:hover, .no-decoration:active, .no-decoration:link {
    text-decoration: none;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin:0 !important;
}



/**
Margins
**/

.mt-minus-5 {
    margin-top:-5px;
}

.full-width {
    width:100%;
}

.full-height {
    height:100%;
}

.inline-block {
    display: inline-block;
}

.no-pull {
    float:none !important;
}

.inline-block-important {
    display: inline-block !important;
}



.width-350 {
    width:350px;
}

.rotate-90 {
    transform: rotateZ(90deg);
}

.rotate-180 {
    transform: rotateZ(180deg);
}

.rotate-270 {
    transform: rotateZ(270deg);
}

/**
Bg
**/
.bg-pictures {
    background: url("../img/landing-block-4-bg.jpg");
    background-size: 70%;
    /*background-position: center;*/
    background-repeat: repeat;
}


/**
Admin
**/
.admin-grid input, .admin-grid textarea, .admin-grid select, .redactor-editor, .redactor-box, .redactor-toolbar,
.admin-grid .select2-selection, .admin-grid .select2-selection .select2-selection__placeholder  {
    color: black;
    background-color:#AAD;
}

.redactor-editor {
    min-height: 200px;
}

.datepicker, .date .input-group-addon, .date input {
    background-color:#AAD !important;
    border:1px solid grey;
}
.datepicker table tr td.day:hover, .datepicker table tr td.focused,
.datepicker .datepicker-switch:hover, .datepicker .prev:hover,
.datepicker .next:hover, .datepicker tfoot tr th:hover,
.datepicker .focused,
.datepicker input, .date ::-webkit-input-placeholder, .date ::-webkit-input-placeholder,
.notifyjs-corner{
    color:#333 !important;
}

.datepicker .active {
    background:red !important;
    color:white !important;
}

.alert {
    background:transparent !important;
    border:none !important;
}

.perfectScroll {
    position: relative;
    height: 100%; /* Or whatever you want (e.g. 400px) */
}



.angled-change .img {
    height:151px;
}


.picture-picker .image-padding {
    width: 100%;
    padding: 0;
}

.picture-picker .form-group {
    padding:0 !important;
    margin:0 !important;
}

.picture-picker .btn-imageDelete {
    top: 2px !important;
    z-index: 1025;
    bottom: auto !important;
}

.picture-picker .imageLoaderClass {
    width: 151px;
    height: 151px;
    z-index: 1020;
}

@media (max-width:545px) {

    .picture-picker .imageLoaderClass {
        margin-left:-74px;
    }

    .picture-picker .btn-imageDelete {
        margin-left: -7px;
    }
}

/* webkit and IE requires explicit width, height = 100% of sceeen */
/* webkit also takes margin into account in full screen also - so margin should be removed (otherwise black areas will be seen) */
*:-webkit-full-screen {
    width: 100%;
    height: 100%;
    margin: 0;
}

*:-ms-full-screen {
    width: 100%;
    height: 100%;
}

/**
OWL
**/
.owl-prev, .owl-next {
    position: absolute;
    top: 45%;
    font-size:35px;
}

.owl-prev {
    left:-5%;
}

.owl-next {
    left:105%;
}

@media (max-width: 968px) {
    .owl-next, .owl-prev {
        display: none;
    }
}


/**
Notify JS
**/
.notifyjs-bootstrap-success, .notifyjs-bootstrap-warn, .notifyjs-bootstrap-error {
    background-color: transparent !important;
    color: #DFF0D8 !important;
    border-color: transparent !important;
}

.notifyjs-wrapper {
    margin-top:10px !important;
}

.notifyjs-bootstrap-success:before, .notifyjs-bootstrap-error:before, .notifyjs-bootstrap-warn:before {
    content:' ';
    display:inline-block;
    top:0;
    left:0;
    width:100%;
    height:100%;
    position:absolute;
    z-index: -1;
    background-color: #468847;
    -webkit-transform: skew(-7deg);
    -ms-transform: skew(-7deg);
    -o-transform: skew(-7deg);
    transform: skew(-7deg);
}

.notifyjs-bootstrap-error:before {
    background-color: #ee4746;

}

.notifyjs-bootstrap-warn:before {
    background-color: #aaaa45;
}

.notifyjs-corner {
    top:auto !important;
    bottom:0 !important;
}

.article-tables table {
    width: 100%;
}

.article-tables td {
    border: 1px solid white !important;
    margin:2px;
}

.youplay-user .angled-img img {
    height:151px;
    width:160px;
    border:none;
}


.nowrap {
    white-space: nowrap;
}